@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Menu_MainLayout_EEDesignTool />
    </div>

    <main>
        <div class="top-row px-4">
            <h5>EE Design Check Tool</h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>